body {
  font-family: Arial, Helvetica, sans-serif;
  background: #EFEFEF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.App {
  width: 700px;
  background: #fff;
  padding: 25px;
  border: 1px solid grey;
}
.container {
  display: flex;
  flex-direction: column;
}
.container h1 {
  text-transform: uppercase;
  color: #424242;
  text-align: center;
  font-weight: 600;
}
.task-input {
  margin: 10px;
  padding: 10px;
  border: 1px solid grey;
}
.task-input:active,
.task-input:focus {
  box-shadow: 0 0 2px 1px rgba(0, 132, 255, 0.677);
  outline: none;
}
.task-list {
  margin: 0 10px;
}
.task-list input {
  margin-right: 10px;
}
.task {
  display: flex;
}
.task p {
  margin: 0;
}